@model IEnumerable<CountryClubMVC.Models.User>

@{
    ViewBag.Title = "GetFamilyMembers";
    ViewBag.FamTitle = Session["FAMTIT"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    CountryClubMVC.Models.User _user = new CountryClubMVC.Models.User();
    CountryClubMVC.Models.AppDbContext db = new CountryClubMVC.Models.AppDbContext();

    if (HttpContext.Current.Session["User"] != null)
    {
        _user = (CountryClubMVC.Models.User)HttpContext.Current.Session["User"];
        ViewBag.Name = _user.Username;
        ViewBag.FamID = _user.Family_ID;
        ViewBag.UserID = _user.User_ID;
        ViewBag.DP = _user.DisplayPicture ?? "../../Content/NewContent/dist/img/user2-160x160.jpg";
    }
}

<p>
    @{

        if (ViewBag.FamTitle == "Parent")
        {
            @*<button> <i class="glyphicon glyphicon-plus"></i>@Html.ActionLink("Add New Family Member", "AddFamily")</button>*@
            <a href="@Url.Action("AddFamily", "Users")"><strong style="color:darkgreen; font-size:20px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"><i class="fa fa-fw fa-user-plus margin-r-5"></i> ADD FAMILY MEMBERS</strong></a>

        }
    }
</p>





<div>

    @foreach (var item in Model)
    {
        //Get userID  of User
        var UserID = item.User_ID;
        //Get displayPic tied to that ID
        var User = db.Users.Find(UserID);
        //Set Poster's image to
        var userDP = User.DisplayPicture ?? "../../Content/NewContent/dist/img/user2-160x160.jpg";
        //Get and Set user Full name
        var userfullName = User.Firstname + " " + User.Lastname;
        // ViewBag.userfullName = userfullName;
        //Get User Title
        var userTitle = User.Title;
        //Get Poster's Profile link
        var userProfile = "Profile/" + UserID;
        ViewBag.userProfile = "Profile/" + UserID;
        //Get Following and Followers:
        var userFollowers = User.Followers;
        var userFollowing = User.Following;
        var gender = User.Gender;
        ViewBag.gender = gender;
        var MemberSince = User.DateJoined;
        ViewBag.Date = MemberSince;
        var City = User.Town;
        ViewBag.City = City ?? " ";
        var Country = User.Country ??  " ";
        ViewBag.Country = Country;


        //new div:

        <a href="@Url.Action(@ViewBag.userProfile, "Users")">
            <div class="col-md-11">
                <!-- Widget: user widget style 1 -->
                <div class="box box-widget widget-user-2">
                    <!-- Add the bg color to the header using any of the bg-* classes -->
                    <div class="row">
                        <div class="col-md-8">
                            <div class=" widget-user-image" width=auto>
                                <img style="height:150px" class="img-rounded" src="@userDP" alt="User Avatar">
                            </div>

                            <div class="bg-aqua-gradient">
                                <div class="widget-user-header bg-light-blue-gradient ">
                                    <!-- /.widget-user-image -->

                                    <h3>
                                        <p style="margin-top:0px;color:white;font-weight:bold; font-size:30px; text-align:center"> @userfullName</p>
                                    </h3>

                                    <h5 style="color:white; font-weight:bold; font-size:17px; text-align:center" class="widget-user-desc">Title: @userTitle</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="box-footer no-padding">
                                <ul class="nav nav-stacked">
                                    <li><a href="#">Gender <span class="pull-right badge bg-blue">@ViewBag.gender</span></a></li>
                                    <li><a href="#">Location<span class="pull-right badge bg-aqua">@ViewBag.City, @ViewBag.Country </span></a></li>
                                    <li><a href="#">MemberSince:  <span class="pull-right badge bg-blue"> @ViewBag.Date</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.widget-user -->
            </div>
        </a>
    }

</div>

